<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>分类下的商品展示</h2>
    <table border="1px block soild">
        <tr>
            <td>规格编码</td>
            <td>规格值1</td>
            <td>规格值2</td>
            <td>标准售价</td>
            <td>批发价</td>
            <td>参考进价</td>
            <td>吊牌价</td>

        </tr>
        {% for i in shoplist %}
            <tr>
                <td>{{ i.skucode }}</td>
                <td>{{i.code1 }}</td>
                <td>{{i.code2 }}</td>
                <td>{{i.price1}}</td>
                <td>{{i.price2}}</td>
                <td>{{i.price3}}</td>
                <td>{{i.price4}}</td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>